# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
env/

# Power BI temporary files
*.pbit
~$*.pbix

# Windows
Thumbs.db
Desktop.ini

# VS Code
.vscode/

# Temporary files
*.tmp
*.temp
*.log